In [92]:
import mysql.connector
database=mysql.connector.connect(host="localhost",user='root',password='password',database='DB1')
sample=database.cursor()

# Step 1: Created a DataBase 
def CreateDataBase():
    sample.execute("Create DataBase Sample")
    
# Step 2: Created a Table in data Base 
def CreateTable():
    sample.execute("Create Table sampledatabase(id int Not Null,salary int(10) Not Null,address Text)")
    print("Created Table : ")
    
# Step 3: Inserting values in Table
def InsertTable():
    SqlValues='Insert into sampledatabase(id,salary, address) values(%s,%s, %s)'
    value=[(5,855655544,'Delhi'),(6,5566555,'Mumbai'),(7,95556,'Bengaluru'),(8,666666,'Kashi')]
    sample.executemany(SqlValues,value)
    print("Inserted SuccessFully : ")
    database.commit()
    
# Step 4: Read data in Table
def ReadTable():
    sample.execute('Select * FROM sampledatabase')
    value=sample.fetchall()
    for data in value:
        print(data)
        
# Step 5: Update Table
def UpdateTable():
    value="Update sampledatabase set age=26,DateOfBorth =19941212,name='shiva' where id=4"
    sample.execute(value)
    database.commit()
    
# Step 6: Deleteing Table Values
def DeleteTable():
    value='Delete from sampledatabase where DateOfBorth=19940401'
    sample.execute(value)
    database.commit()
    
    
val=input("Enter a Value Between 0 to 6 For 0: Create DataBase \n \
                                            1: Create Table \n \
                                            2: Show Table \n \
                                            3: Insert New Values \n \
                                            4: Read the data of Table \n \
                                            5: Updata Value of perticular row \n \
                                            6: Delete Value of row \n \
           Selected value is : ")

if(val=='0'):
    CreateDataBase()
    
elif(val=='1'):
    CreateTable()
    
elif(val=='2'):
    sample.execute("Show Tables")
    for data in sample:
        print(data)
        
elif(val=='3'):
    InsertTable()
    
elif(val=='4'):
    ReadTable()
    
elif(val=='5'):
    UpdateTable()
elif(val=='6'):
    DeleteTable()
else:
    print('Entered Value is out of ranged please enter between 0 to 6 ')

Enter a Value Between 0 to 6 For 0: Create DataBase
                                             1: Create Table
                                             2: Show Table
                                             3: Insert New Values
                                             4: Read the data of Table
                                             5: Updata Value of perticular row
                                             6: Delete Value of row
            Selected value is : 4
(1, 19940202, 'Manthani')
(2, 19940520, 'Nalgoda')
(3, 19940401, 'Orisa')
(4, 20191201, 'Warngal')
(5, 855655544, 'Delhi')
(6, 5566555, 'Mumbai')
(7, 95556, 'Bengaluru')
(8, 666666, 'Kashi')

('AllDataTypes',)
('employee',)