In [6]:
import mysql.connector as mc
data=mc.connect(host='localhost', user='root',password='password',database='DB1')
database=data.cursor()

# Inner Join OPeration
def InnerJoin():
    sql= "select sample.name as name, sample.age as age, sampledatabase.address as address, sampledatabase.salary as salary From sample INNER JOIN sampledatabase ON sample.id=sampledatabase.id"
    database.execute(sql)
    myresult=database.fetchall()
    for dat in myresult:
        print(dat)
# Left Join Operation
def LeftJoin():
    LeftSql="select sample.name as name, sample.age as age, sampledatabase.address as address, sampledatabase.salary as salary From sample INNER JOIN sampledatabase ON sampledatabase.id=sample.id"
    database.execute(LeftSql)
    LeftResult=database.fetchall()
    for dat in LeftResult:
        print(dat)
def RightJoin():
    sql= "select sample.name as name, sample.age as age, sampledatabase.address as address, sampledatabase.salary as salary From sample Right JOIN sampledatabase ON sample.id=sampledatabase.id"
    database.execute(sql)
    myresult=database.fetchall()
    for dat in myresult:
        print(dat)
def OuterJoin():
    sql= "select * From sample FULL Outer JOIN sampledatabase ON sample.id=sampledatabase.id"
    database.execute(sql)
    myresult=database.fetchall()
    for dat in myresult:
        print(dat)
def Join():
    sql= "select * From sample JOIN sampledatabase ON sampledatabase.id=sample.id"
    database.execute(sql)
    myresult=database.fetchall()
    for dat in myresult:
        print(dat)
value=input('Enter a value between 0 to  \n \
                                          0: Inner Join : \n \
                                          1: LeftJoin : \n \
                                          2: RightJoin : \n \
                                          3: OuterJoin : \n \
                                          4: Join : \n \
             Select Option From above : ')
if(value=='0'):
    InnerJoin()
elif(value=='1'):
    LeftJoin()
elif(value=='2'):
    RightJoin()
elif(value=='3'):
    OuterJoin()
elif(value=='4'):
    Join()
else:
    print("WARNING :OUT of Range SELECT number between 0 to 3 ")

Enter a value between 0 to
                                           0: Inner Join :
                                           1: LeftJoin :
                                           2: RightJoin :
                                           3: OuterJoin :
                                           4: Join :
              Select Option From above : 3

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Outer JOIN sampledatabase ON sample.id=sampledatabase.id' at line 1